		body {
		background: white;
		 font-size: 30px;
         margin: 0;
         }
		 
        .column {
            float: left;
            width: 50%;
            padding: 0px;
        }
        
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        
        .grid-container {
            display: grid;
            grid-template-columns: auto auto ;
            padding: 10px;
            width: fit-content;
        }
        
        .grid-item {
            transition: 0.3s all ease;
            background-color: rgba(255, 255, 255, 0.8);
            border: 0px solid rgba(0, 0, 0, 0.8);
            padding: 10px;
            font-size: 15px;
            margin-top: 5%;
            margin-right: 3%;
            text-align: left;
            border-radius: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }
        .grid-item-{
            transition: 0.3s all ease;
            background-color: rgba(255, 255, 255, 0.8);
            border: 0px solid rgba(0, 0, 0, 0.8);
            padding: 10px;
            font-size: 15px;
            margin-top: 5%;
            margin-right: 3%;
            text-align: left;
            border-radius: 10px;
            white-space: nowrap;
        }

        .grid-item:hover {
            transition: 0.3s all ease;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
            cursor: pointer;
        }
		
		 .title{
		 font-size:20px
		 }
		 .wrapper {display:grid;
            grid-template-columns: 50% 50%; 
            grid-gap: 1em;
            grid-auto-rows: minmax(50px, auto)
         }
         .wrapper > div {
         background:#fff;
		 text-align: left;
         }	
         .wrapper > div:nth-child(odd){
         background:#fff;
         }
		 
		
         .mySlides {display: none;
         max-height: 300px
         }
         img {vertical-align: middle;}
		 
         p{
         margin-bottom: 15px;
         font-family: Helvetica;
         }
		 
		 a{
		 font-size:15px
		 }
		 
		 h1{
         font-family: Helvetica;
		 font-size:40px;
         }
		 
         h2{
         font-family: Helvetica;
		 color:#0288bd;
		 font-size:30px;
         }
		 
		 h3{
         font-family: Helvetica;
		 color:#0288bd;
		 font-size:20px;
         }
		 
		  h4{
         font-family: Helvetica;
		 color:#0288bd;
		 font-size:16px;
         }
		 
         .slideshow-container {
         max-height: 480px;
         /* max-width: 55%;
         padding-left: 22.5%;*/
         }
         .prev, .next {
         cursor: pointer;
         position: absolute;
         top: 50%;
         width: auto;
         margin-top: -22px;
         color: white;
         font-weight: bold;
         font-size: 18px;
         transition: 0.6s ease;
         border-radius: 0 3px 3px 0;
         }
         .next {
         right:0;
         border-radius: 3px 0 0 3px;
         }
         .prev:hover, .next:hover {
         background-color: rgba(0,0,0,0.8);
         }
         .text {
         color: #f2f2f2;
         font-size: 30px;
         font-weight: bold;
         position: absolute;
         bottom: 8px;
         width: 100%;
         text-align: center;
         color:white;  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
         }
         .numbertext {
         color: #f2f2f2;
         font-size: 12px;
         padding: 8px 12px;
         position: absolute;
         top: 0;
         }
         .dot {
         cursor: pointer;
         height: 15px;
         width: 15px;
         margin: 0 2px;
         background-color: #bbb;
         border-radius: 50%;
         display: inline-block;
         transition: background-color 0.6s ease;
         }
         .fade {
         -webkit-animation-name: fade;
         -webkit-animation-duration: 1.5s;
         animation-name: fade;
         animation-duration: 1.5s;
         }
         @-webkit-keyframes fade {
         from {opacity: .4}
         to {opacity: 1}
         }
         @keyframes fade {
         from {opacity: .4}
         to {opacity: 1}
         }
         @media only screen and (max-width: 300px) {
         .prev, .next,.text {font-size: 11px}
         }
         .center {
         text-align: center;
         }
         .dimBack{
         padding:10px;
         background-color:white
         }
         #slidePic {
         object-fit: cover;
         height: 500px;
         width:100%;
         }
		 body {
	        margin: 0;
	        padding: 0;
        }